<div
  *ngFor="let card of cards"
  class="max-w-sm h-full rounded overflow-hidden shadow-lg px-4 py-7"
>
  <img class="w-full h-64 " [src]="card.img" alt="plants" />
  <div class="px-6 py-4 gap-10">
    <div class="font-bold text-xl mb-2">{{ card.name }}</div>
    <p class="text-white text-base">
      {{ card.description }}
    </p>
</div>
<div class="w-full flex justify-center flex-col items-center gap-2 ">
    <p>Humidity</p>
    <div class="radial-progress self-center" style="--value:70;">{{ card.humidity }} %</div>
</div>
</div>
